<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                            <!-- header left -->
                            <div class="col-md-6 col-12 main_header_right align-items-center">
                                <figure>
                                    <img src="images/About.jpg" alt="DJ" class="img-fluid " title="Dhananjay Brahmane">
                                </figure>
                                </div>
                              <div class="col-md-6 col-12 main_header_left">
                                  <p>Welcome to the Weather App</p>
                                  <h1>I am a <span class="text_clr">MERN Stack Developer</span> and Trainee</h1>
                                  <a href="https://github.com/Dbrahmane4" target="_DJ"><button>my github</button></a>
                              </div>
                              <!-- header right -->
                              
                         </div>
                    </div>
                  </div>
            </div>
        </div>
    <!-- footer -->
    {{>footer}}
</body>
</html>